<%- include('header'); -%>
    <div class="box" id="heading">
        <h2>
            <%= listTitle %>
        </h2>
    </div>


    <div class="box">
        <% newItems.forEach((item) => { %>
            <div class="item">
                <input type="checkbox">
                <p><%= item.name %></p>
            </div>
        <% }); %>

        <form action="<%= redirect %>" method="post">
            <input type="text" name="newItem" placeholder="آیتم جدید" autocomplete="off">
            <button type="submit" name="button">+</button>
        </form>
    </div>

    <%- include('footer'); -%>